/* The Header Css is starts from Here...! */
.header{
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-weight: 530;
    flex-wrap: wrap;
}

.logo{
    width: 90px;

}
.nav-items-container >ul{
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
}
.nav-items-container >ul>li{
    margin-right: 20px;
    padding: 7px;
    background-color: none !important;
    border-radius: 10px;
}
.nav-items-container>ul>li:hover{
    background-color: orange;
    cursor: pointer;
    transition: 0.2s;
}


/* The Body Code Css is Starting from here */
.body{
    padding: 10px;
    margin: 10px 0px;
    border: solid black 1px;
    
}
.card-container{
   
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.res-card{
    
    margin: 10px;
    padding: 4px 5px;
    
    width: 200px;
    /* height: 300px; */
    background-color: #f0f0f0;
    border-radius: 15px;
    transition: transform 0.5s;
}
.res-card>img{
    width: 100%;
    border-radius: 15px;
}
.res-card:hover{
    cursor: pointer;
    transform: scale(0.95,0.95);
}

.shimmer-container{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
}
.shimmer-card{
    height: 350px;
    width: 210px;
    background-color: #f0f0f0;
    margin: 10px;
    border-radius: 10px;

}
.login-btn{
    background-color: green;
    border: none;
    padding: 0px 20px;
    margin-right: 5px;
    border-radius: 10px;
    cursor: pointer;  
   
}

.search-function{
    display: flex;
    
}
.toprating-btn{
    margin-left: 10px;
}
